
.top-container{
position: absolute;
    left: 17%;
    right: 0%;
    top: 11%;
    bottom: 71%;
 ;
box-shadow:  0px 4px 4px rgba(0, 0, 0, 0.25);
}

.text-team{
    position: absolute;
    width: 143px;
    height: 31px;
    left: 113px;
    top: 33px;
    font-family: 'mulish';
    font-style: normal;
    font-weight: 700;
    font-size: 20px;
    line-height: 31px;
    text-align: center;
    letter-spacing: 0.4px;
    text-decoration-line: underline;
    color: black;

}
 .text-team-me{
    
        position: absolute;
        width: 143px;
        height: 31px;
        left: 848px;
        top: 33px;
        font-family: 'mulish';
        font-style: normal;
        font-weight: 700;
        font-size: 20px;
        line-height: 31px;
        text-align: center;
        letter-spacing: 0.4px;
        text-decoration-line: underline;
        color: blue; 
    
 }
 .memberscontainer{
 position: absolute;
 left: 32%;
 right: 0%;
 top: 34%;
 bottom: -7%;
 width: 780px;
 box-shadow: 0px 4px 4px rgb(0 0 0 / 25%);
 color: black;
 }
 .email{
    position: absolute;
    width: 309px;
    height: 37px;
    left: 180px;
    top: 95px;
 }
 .phnumber{
    position: absolute;
    width: 309px;
    height: 37px;
    left: 180px;
    top: 179px;
 }
 .assigndept{
    position: absolute;
    width: 317px;
    height: 37px;
    left: 180px;
    top: 266px;
 }
 .create{
    position: absolute;
width: 109px;
height: 36px;
left: 300px;
top: 412px;
color: white;
background: rgb(89, 74, 250);
border-radius: 10px;
border-color: transparent;
 }